daily historical data

In [4]:
from datetime import datetime
import pandas as pd
import requests


def convertTimeStampToUTC(data):
  from datetime import datetime
  return datetime.fromtimestamp(data)
  
def getURL(apiKey,cryptoSymbol,frequency,timestamp,MaxRecordsToGetOnEachCall):
  API_KEY='&api_key='+str(apiKey)
  limit='&limit='+str(MaxRecordsToGetOnEachCall)
  cryptoHeader='fsym='+str(cryptoSymbol)
  ouputCurrency='&tsym=USD'

  if(timestamp==""):
    url='https://min-api.cryptocompare.com/data/v2/histo'+frequency+'?'+cryptoHeader
  else:  
    url='https://min-api.cryptocompare.com/data/v2/histo'+frequency+'?'+cryptoHeader+'&toTs='+str(timestamp)

  return url+ouputCurrency+API_KEY+limit  


def getCryptoData(apikey,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall):
  numOfTimesToHitApi=5
  data=pd.DataFrame()
  nextTimeStamp=0

  for i in range(0,numOfTimesToHitApi):
    if(nextTimeStamp==0):
      url=getURL(apikey,crypto,frequency,"",MaxRecordsToGetOnEachCall)
    else:
      url=getURL(apikey,crypto,frequency,nextTimeStamp,MaxRecordsToGetOnEachCall)

    response = requests.get(url).json()
    partialData=pd.DataFrame(response.get('Data').get('Data'))
    nextTimeStamp=partialData['time'].min()-1
    data=pd.concat([data,partialData])


  data=data.sort_values(by=['time'],ignore_index=True)
  data['timeUTC']=data['time'].apply(convertTimeStampToUTC)
  data=data.reset_index(drop=True)
  return data

In [5]:
API_KEY="41456c151c8086251f5a39cb4d09e75fcf2502316226005092f411baa60d63fe"
crypto="BTC"
numOfTimesToHitApi=5
MaxRecordsToGetOnEachCall=200
frequency="hour"

cryptoData=getCryptoData(API_KEY,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall)
cryptoData

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timeUTC
0,1645873200,39177.23,38828.47,39040.05,531.32,20722630.37,38961.72,direct,,2022-02-26 16:30:00
1,1645876800,39045.89,38811.02,38961.72,370.04,14406060.28,39019.83,direct,,2022-02-26 17:30:00
2,1645880400,39250.24,38947.47,39019.83,411.54,16103300.70,39116.73,direct,,2022-02-26 18:30:00
3,1645884000,39373.93,38994.73,39116.73,607.58,23814120.38,39241.48,direct,,2022-02-26 19:30:00
4,1645887600,39372.95,39184.90,39241.48,545.89,21444361.73,39257.40,direct,,2022-02-26 20:30:00
...,...,...,...,...,...,...,...,...,...,...
1000,1649473200,42445.83,42136.04,42192.53,535.06,22632995.13,42395.73,direct,,2022-04-09 08:30:00
1001,1649476800,42552.59,42354.15,42395.73,314.64,13356733.75,42410.94,direct,,2022-04-09 09:30:00
1002,1649480400,42634.69,42410.94,42410.94,418.11,17769617.54,42598.95,direct,,2022-04-09 10:30:00
1003,1649484000,42605.01,42423.36,42598.95,236.99,10073975.04,42450.07,direct,,2022-04-09 11:30:00
1004,1649487600,42488.26,42363.44,42450.07,345.04,14635309.74,42428.07,direct,,2022-04-09 12:30:00

In [30]:
from datetime import datatime
import pandas as pd
import requests
const cc = require('cryptocompare')
cc.setApiKey('41456c151c8086251f5a39cb4d09e75fcf2502316226005092f411baa60d63fe')


cc.newsList('EN')
.then(newsList => {
  console.log(newsList)
  //[ 
  //  {
  //    id:  "708235"
  //    guid: "https://www.cryptoglobe.com/latest/2018/11/china-cryptocurrency-mining-machines-are-reportedly-being-sold-according-to-their-weight/"
  //    published_on: 1542886256
  //    imageurl: "https://images.cryptocompare.com/news/cryptoglobe/fwMg0080000.jpeg"
  //    title: "China: Cryptocurrency Mining Machines Reportedly Being Sold According to Their Weight"
  //    url: "https://www.cryptoglobe.com/latest/2018/11/china-cryptocurrency-mining-machines-are-reportedly-being-sold-according-to-their-weight/"
  //    source:  "cryptoglobe"
  //    body: "Cryptocurrency mining machines are reportedly being sold in China according to their weight as miners who havenâ€™t been able to make a profit are seemingly getting rid of their old models to get some of their investment back."
  //    tags:  ""
  //    categories:  "Mining|Asia|Business"
  //    upvotes:  "0"
  //    downvotes:  "0"
  //    lang:  "EN"
  //    source_info: {
  //      name:  "CryptoGlobe"
  //      lang:  "EN"
  //      img: "https://images.cryptocompare.com/news/default/cryptoglobe.png"
  //    }
  //  }
  //  ....
  //]
})
.catch(console.error)

SyntaxError: invalid syntax (Temp/ipykernel_3960/1028817237.py, line 4)